body {
  display: flex;
  align-items: center;
  width: 100vh;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 3rem;
  background-color: orange;
  width: 50%;
}
input[type="text"] {
  border: none;
}
button {
  width: 4rem;
  height: 1.5rem;
  border: none;
  background-color: navajowhite;
  font-family: Tahoma, Geneva, Verdana, sans-serif, cursive;
  font-size: 1rem;
}
li {
  width: 50vw;
  height: 3rem;
  max-width: 50vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}
li div {
  position: absolute;
  right: 0;
  top: 0;
}
li div button {
  width: 1rem;
  height: 2rem;
}
.delete {
  color: red;
}
.completed {
  /* some fancy styles */
  text-decoration: line-through;
}
.done {
  /* something */
}
